:root {
  --font-semi: 600;
  /*===== Colores =====*/
  --main-color: #1a740e;
  --second-color: #424242;
  --border-color: #66676726;
  /*===== Sizes =====*/
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 2.5rem;
  --mb-4: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

* {
  margin: 0;
  padding: 0;
  color: var(--middle-color);
  background-color: transparent;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
  padding: 0.5em;
}

td {
  padding: 0.5em;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--normal-font-size);
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

/* assignment */
.assignment {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9em;
  height: 4.5em;
  bottom: 3em;
  right: 3em;
  background-color: var(--main-color);
  color: white;
  font-weight: var(--font-semi);
  font-size: var(--h3-font-size);
  text-align: center;
  border-radius: 30px 50px 15PX 50px;
  z-index: 100;
}


/* nav */
.nav_div {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8%;
  justify-content: flex-end;
  align-items: center;
  padding: 1% 8%;
  box-shadow: 0 1px 4px var(--border-color);
  background-color: white;
}

nav img {
  width: 1.5em;
  height: 1.5em;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.nav_logo {
  flex: 2;
  justify-content: flex-start;
  color: var(--main-color);
  font-size: var(--big-font-size);
  font-weight: var(--font-semi);
}

.nav_categories {
  flex: 4;
  text-align: center;
}

.nav_categories img {
  margin-right: 0.5em;
}

.nav_search {
  display: flex;
  justify-content: center;
  flex: 6;
}

.nav_search .search_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.nav_search input[type="text"] {
  padding: 0.5em;
  height: 2.5em;
  flex-grow: 1;
  width: 100%;
}

.nav_search .search_btn {
  background: url('asset/icon/search.png') no-repeat center center;
  border: none;
  position: absolute;
  right: 0.5em;
  width: 1.5em;
  height: 2.2em;
  cursor: pointer;
  background-size: 1.5em;
  outline: none;
}

.nav_sign_in {
  flex: 1.5;
  text-align: center;
}

.nav_language {
  flex: 1;
  text-align: center;
}

.nav_liked {
  flex: 1;
  text-align: center;
}

.nav_cart {
  flex: 1;
  text-align: center;
}

/* header */
.header_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 40em;
}

.header_left_box {
  flex: 6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 85%;
}

.carousel_box {
  position: absolute;
  width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: all 0.8s ease;
}

.carousel_box:nth-child(1) {
  opacity: 1;
}

.header_carousel:hover .carousel_left,
.header_carousel:hover .carousel_right,
.header_carousel:hover .carousel_point {
  opacity: 1;
}

.carousel_box img {
  width: 100%;
  max-height: 85%;
}

.carousel_left {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 35px;
  height: 70px;
  background-color: var(--border-color);
  z-index: 100;
  text-align: center;
  line-height: 70px;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi);
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.carousel_right {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 35px;
  height: 70px;
  background-color: var(--border-color);
  z-index: 100;
  text-align: center;
  line-height: 70px;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi);
  color: white;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.carousel_left:hover,
.carousel_right:hover {
  background-color: var(--second-color);
}

.carousel_point {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.carousel_point li {
  z-index: 100;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  float: left;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}

.carousel_point li:hover {
  background-color: rgba(113, 113, 113, 0.65);
}

.header_right_box {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_slogan {
  font-size: var(--big-font-size);
  color: var(--main-color);
}

.header_join_btn {
  display: inline-block;
  padding: 0.8em 2em;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: var(--normal-font-size);
  font-weight: 600;
  border: none;
  border-radius: 30px 50px 15PX 50px;
  cursor: pointer;
  margin-top: 3%;
  transition: background-color 0.3s ease;
}

.header_join_btn:hover {
  background-color: #124d0a;
}

/* main */
.main_div {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; */
  margin-top: 6%;
  width: 100%;
}

.main_div_title {
  font-size: var(--h2-font-size);
  margin-top: 5em;
  margin-bottom: var(--mb-2);
  text-align: center;
  text-decoration: underline;
  color: var(--main-color);
  text-align: center;
}

.bs_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5em;
  padding: 0 8em;
  margin-top: 4%;
  width: 100%;
}

.bs_div img {
  max-width: 100%;
}

.bs_title {
  font-size: var(--h3-font-size);
  margin-top: 0.5em;
}

.bs_price {
  font-size: var(--h3-font-size);
}

.cta_offer {
  background-color: #f1f8e9;
  text-align: center;
  padding: 30px;
  margin: 50px 0;
}

.cta_offer p {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.offer_btn {
  background-color: var(--main-color);
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px 50px 15PX 50px;
  cursor: pointer;
}

.offer_btn:hover {
  background-color: #124d0a;
}

.categories_div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  padding: 0 5em;
  margin-top: 4%;
  width: 100%;
}

.categories_div img {
  max-width: 100%;
}

.categories_div p {
  margin-top: 2%;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  max-width: 100%;
}

.dm_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0 5em;
  margin-top: 4%;
  width: 100%;
}

.dm_div img {
  max-width: 100%;
}

.materials_title {
  font-size: var(--h3-font-size);
  padding-left: 1%;
  margin-top: 8em;
  margin-bottom: 1.5em;
  text-align: left;
}

.materials_container {
  width: 100%;
  overflow: hidden;
}

.materials_div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1em;
  padding: 0 5em;
  width: 200%;
}

.materials_div img {
  max-width: 100%;
}

.bigger_title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi);
  margin-bottom: var(--mb-2);
  text-align: center;
  margin-top: var(--mb-4);
}

.set_middle {
  margin: 0 auto;
}

/* footer */
.footer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  background-color: var(--second-color);
  color: white;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 1rem 0;
  font-weight: 400;
}

.footer_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1% 0 2% 0;
  width: 75%;
}

.footer_intro {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 6em;
}

.footer_about {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 8%;
}

.footer_links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer_title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
  border-bottom: 0.1em solid white;
  font-weight: 600;
}

#footer li,
p {
  text-align: left;
}

/* passion */
#passion {
  width: 50%;
}

#passion p {
  font-size: 18px;
  text-align: justify;
}

.green {
  font-weight: var(--font-semi);
  color: var(--main-color);
}

/* feedback */
.main_title {
  margin-top: 3.5%;
  margin-left: auto;
  margin-right: auto;
}

.feedback_table {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#feedback .buttonsLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#feedback input#name,
input#email,
input#pnum {
  height: 2em;
  width: 27em;
  padding: 0.5em;
}

#feedback input#clear {
  margin-right: 1em;
}

#feedback input {
  padding: 0.1em 0.5em;
}

#feedback label {
  margin-right: 10px;
}

#sitemap {
  margin-top: 5%;
  margin-left: 10%;
}

#sitemap li {
  color: var(--main-color);
  font-size: 20px;
  line-height: 50px;
}

#sitemap a :visited {
  color: var(--second-color);
}

#source_log table {
  margin-bottom: 10%;
}

/* modal login page */
.modal {
  display: none;
  position: fixed;
  z-index: var(--z-fixed);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.login_image {
  display: flex;
  flex: 1;
}

.login_image img {
  width: 100%;
  height: 100%;
}

.login_info {
  flex: 1;
}

.login_form {
  margin: auto;
  width: 300px;
  padding: 20px;
}

/* login form */
.login_form input[type="text"],
.login_form input[type="password"],
.login_form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: var(--normal-font-size);
}

.login_form a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.login_form a ins {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}

/* signup form */
.signup_form {
  margin: auto;
  width: 300px;
  padding: 20px;
}

.signup_form input[type="text"],
.signup_form input[type="password"],
.signup_form input[type="file"],
.signup_form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: var(--normal-font-size);
}

.signup_form label {
  display: block;
  margin-top: 10px;
}

.signup_form .terms {
  text-align: left;
  margin-top: 10px;
}

.signup_form .terms input[type="checkbox"] {
  margin-right: 5px;
}

.signup_form a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.signup_form a ins {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}

.terms {
  display: flex;
  align-items: center;
}

.terms label {
  margin-right: 5px;
}

.inline_link {
  text-decoration: underline;
}